Ping Pong
Get ready to get a big task for this assignment. Ever heard of 'Ping Pong'? You might have; if not go search on the web.
Well, we will be making a smaller and easier version of this game. The main points for the game are -
1. There will be 2 rods at the top and bottom of the screen.
2. Both rods will be controlled with the same keys. In other words, they will move together.
3. When the game starts, an alert should be shown about the highest score and the player who scored it. If there is no such record, say 'this is your first time'.
4. If the score becomes highest, then store the name and max-score in local storage.
5. After every round, when one wins an alert will be displayed showing the winning player and his score.

Screenshots and a small gif is provided but first let us go through some rules for this game -
1. Every round should start when the 'Enter' key is pressed. ( You can use another key as well )
2. The rods will only move horizontally using the 'a' and 'd' keys. ( You can use other keys as well )
3. The losing rod will get the ball for the next match and the rods and ball will move to center.
4. The score will be counted from the start of every match.


The game should look like this on starting -


no image



The game should look like this at the end of each round -


no image



The game should look like this at the start of each round -


no image



A small video for this game is provided below -


no image
Your project will be evaluated on following parameters -
HTML CODE
(Max Score 2)
Complete HTML code required in a project.
CSS CODE
(Max Score 8)
Complete the CSS code required in a project.
MOVING ROD
(Max Score 5)
Make the rods move left and right using the A and D keys.
MAKE THE BALL MOVE.
(Max Score 50)
Change position of the ball in x and y directions both, continuously until game over condition becomes true
WINNER & MAX SCORE
(Max Score 10)
Keep the max score and the name of the winning player.
ALERT MESSAGE
(Max Score 5)
Start the game by pressing enter. When the game starts, create an alert message.
CODE QUALITY AND COMMENTS
(Max Score 20)
Ensure proper commenting, naming Conventions, Formatting of code, and code readability.
